@page "/"

<div class="mb-3"> 
    <div class="mb-3">
        <h1> Registro de ocupaciones </h1>

    </div>

    <div>
        <label for="inputOcupation" class="form-label"> OcupacionID </label>
        <input type="text" class="form-control" id="inputOcupation" aria-describedby="ID">

        <label for="inputDescription" class="form-label"> Descripción </label>
        <input type="text" class="form-control" id="inputDescription" aria-describedby="Descripción">

    </div>

    <div>

        <button type="button" class="btn btn-primary">Nuevo</button>
        <button type="button" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        
    </div>
    
</div>

<SurveyPrompt Title ="Copyright Albert Luis Delgado" />
